  <div class="container">
        <div class="row col-md-offset-2">
            <button id="upbtn" type="button" class="btn" >↑</button>
        </div>
        <div class="row">
            <button id="leftbtn" type="button" style="margin-left:140px;margin-right:20px;" class="btn" >←</button>
            <button id="cyclebtn" type="button" class="btn btn-circle " ></button>
            <button id="rightbtn" type="button" style="margin-left:20px;" class="btn">→</button>    
        </div>
        <div class="row col-md-offset-2">
            <button id="downbtn" type="button" class="btn" >↓</button>
        </div>
 </div>
  