.container{
    margin: 0 auto;
    height: 100%;
    padding: 20px 0;
    .camera-section{
        background-color: #90caf9;        
        height: 100%;
        position: relative;       
        margin:0 auto;      

        .control-section{
            z-index: 99;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 200px;
			background:#1976d2;

            .tank-state-section{
                background-color: #1976d2; 
                height: 100%;
            }

            .directon-control-setcion{
                background-color: #1565c0; 
                height: 100%;
            }

            .map-section{
                background-color: #0d47a1;
                height: 100%;
            }
    }
    }
}