<launch>

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find tank_2dnav)/map/map.yaml" respawn="true" respawn_delay="3" />

    <!--- Run AMCL -->
    <node name="amcl" pkg="amcl" type="amcl" args="scan:=scan" respawn="true" respawn_delay="3">
        <rosparam file="$(find tank_2dnav)/config/amcl_params.yaml" command="load" />
    </node>

    <node name="move_base" pkg="move_base" type="move_base" respawn="true" respawn_delay="3">
        <rosparam file="$(find tank_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tank_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find tank_2dnav)/config/costmap_local_params.yaml" command="load" />
        <rosparam file="$(find tank_2dnav)/config/costmap_global_params.yaml" command="load" />
        <rosparam file="$(find tank_2dnav)/config/move_base_params.yaml" command="load" />
        <rosparam file="$(find tank_2dnav)/config/planner_global_params.yaml" command="load" />
        <rosparam file="$(find tank_2dnav)/config/planner_global_navfn_params.yaml" command="load" />
        <rosparam file="$(find tank_2dnav)/config/planner_local_base_params.yaml" command="load" />
        <rosparam file="$(find tank_2dnav)/config/planner_local_dwa_params.yaml" command="load" />
    </node>

</launch>
